<%
  var entryCount = 0
%>

<main>
  <img src="/assets/me.png" class="psa t0 r0" style="height: 3rem; width: 3rem">

  <div class="p2 h2 links-sans serif" style="padding-right: 5rem">
    <%- partial('_about.md') %>
  </div>

  <div class="p3-5 pb0" sm="p0" md="p2 pb0">
    <div data-rows class="bg-black pt2 color-dusty-rose">
      <% public._data.entries.forEach(function (entry) { %>
        <%
          entryCount += 1
        %>
        <div class="x p2 psr">
          <div data-row="<%- entryCount %>">
            <div class="dib tal">
              <% entry.projects.forEach(function (child) { %>
                <div class="h2 serif">
                  <a href="<%- child.url %>"><%- child.title %></a>
                  <% if (child.date) { %> /&nbsp;<%- child.date %><% } %>
                </div>
                <% if (child.excerpt) { %>
                  <div class="ml3 sans mb1" sm="h5"><%- child.excerpt %></div>
                <% } %>
              <% }) %>
              <% if (entry.title) { %>
                <div class="ml3 sans" sm="h5"><%- entry.title %></div>
              <% } %>
              <% if (entry.excerpt) { %>
                <div class="ml3 sans" sm="h5"><%- entry.excerpt %></div>
              <% } %>
            </div>
          </div>
        </div>
      <% }) %>

      <div class="x xw p1 psr">
        <div class="c12 p1 sans">
          Upcoming Performances
        </div>
        <% public._data.dates.forEach(function (child) { %>
          <a href="<%- child.url %>" class="c4 p1" sm="c6">
            <div class="x xjb pt1" style="border-top: 1px solid #fff">
              <div class="sans-bold">
                <%- child.title %>
              </div>
              <% if (child.date) { %>
                <div class="sans"><%- child.date %></div>
              <% } %>
            </div>
            <% if (child.excerpt) { %>
              <div class="sans" sm="h5"><%- child.excerpt %></div>
            <% } %>
          </a>
        <% }) %>
      </div>
    </div> 
  </div>

  <div class="p3-5 pt0 list-archive" sm="p0" md="p2 pt0">
    <% public.entries._data.map(function (path) { %>
      <%
        const entry = public.entries[path]
        const data = entry._data
      %>
      <a href="/entries/<%- path %>" class="x sans" sm="px2">
        <div class="c8 py1">
          <strong><%- data.title %></strong>
        </div>
        <div class="c2 p1">
          <%- data.category[0].toUpperCase() + data.category.slice(1) %>
        </div>
        <div class="c2 py1 tar">
          <%- data.date %>
        </div>
      </a>
    <% }) %>
  </div>

  <div class="x xw h6 p1" sm="h5">
    <% for(var e in public.log._data.entries) { %>
      <%
        var entry = public.log._data.entries[e]
        var date = entry.date.split('/').map(function(d) {
          return '<span class="sans-bold">' + d + '</span>'
        }).toString().replace(/,/g, '/')
      %>
      <div class="p1 c6" sm="c12">
        <div class="ml3">
          <%- date %> <div style="display: inline-block; height: 1px; width: 6rem; vertical-align: middle;" class="bg-black"></div>
        </div>
        <div class="sans links-underline">
          <%- partial('log/' + e) %>
        </div>
      </div>
    <% } %>
  </div>

  <div class="mt4">
    <%- partial('_mailinglist') %>
  </div>
</main>
