<% 
  const entry = public.entries[path]
  const data = entry._data 
%>

<a href="/entries/<%- path %>" class="x xw mb3 p1">
  <div class="c6 co6 mb1 p1">
    <div class="psr" style="height: 0; padding-bottom: 56.25%">
      <img
        src="<%- '/entries/' + path + '/thumbnail.jpg' %>"
        class="psa t0 l0 r0 b0"
        style="height: 100%; width: 100%;"
      >
    </div>
  </div>

  <div class="c12 p1">
    <div class="h2 serif"><%- data.title %></div>
  </div>

  <div class="sans c10 p1" sm="h5">
    <%- partial('../entries/' + path + '/index').split('<hr>')[0] %>
  </div>

  <div class="x c12">
    <div class="c6 p1">
      
    </div>
    <div class="c6 sans" sm="h5">
      <div class="x">
        <div class="c6 p1">
          Category<br>
          <strong><%- data.category[0].toUpperCase() + data.category.slice(1) %></strong>
        </div>
        <div class="c6 p1">
          Published<br>
          <strong><%- data.date %></strong>
        </div>
      </div>
    </div>
  </div>
</a>